<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.francescofricano.midichallenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".games.GameService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".EndGameActivity"
            android:label="@string/title_activity_end_game" />
        <activity
            android:name=".ClassicGameActivity"
            android:label="@string/title_activity_classic_game"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".games.MultiplayerGameActivity"
            android:label="@string/title_activity_classic_game"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".games.SoloGameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>